# This action works with pull requests and pushes
name: Continuous Integration

on:
  pull_request:
#  push:          # we don't do this on master push because it's disabled
#    branches:
#    - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # Make sure the actual branch is checked out when running on pull requests
        ref: ${{ github.head_ref }}
    - uses: creyD/action_autopep8@v3.1
